<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": "Brain Boosters Tutoring",
  "image": "https://brainboosterstutoring.github.io/images/headshot.jpg",
  "areaServed": ["Ealing","West London","Acton","Chiswick"],
  "address": { "@type": "PostalAddress", "addressLocality": "Ealing", "postalCode": "W5", "addressCountry": "GB" },
  "telephone": "+44 7742 740473",
  "email": "brain_boosters@yahoo.com",
  "url": "https://brainboosterstutoring.github.io",
  "priceRange": "££",
  "serviceType": ["Primary tutoring","SEND tutoring","KS1","KS2","KS3","KS4"]
}
</script>
